* {
    word-break: break-word;
}
code {
    word-break: break-all !important;
}
img {
    display: block;
    max-width: 100%;
}
.pagination-nav a {
    display: inline-block;
    min-width: 80px;
}
.pagination-nav a:last-child {
    text-align: right;
}

@media (prefers-color-scheme: dark) {
    :not(pre) > code[class*="language-"], pre[class*="language-"] {
        background: #252525;
        color: var(--color-primary);
        text-shadow: none;
    }
    .license {
        opacity: .6;
    }
    .search-input {
        background: #252525 !important;
        color: var(--color-primary) !important;
    }
    mark {
        background: #252d38;
    }
}